img{
    margin: 5px;
    height: 150px;

}

div{
    text-align: center;
}

#home{
    background-color:mediumaquamarine;
    text-align: center;
}

h1{
    text-align: center;
}

ul{
    list-style-type: none;
}

.change1{
    background-color: skyblue;
}

.change2{
    font-size: 20px;
}